.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* 减去导航栏高度 */
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #918f8f;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.circle span {
  font-size: 12px;
  line-height: 1.4;
}

.circle1 { top: calc(50% - 300px); left: calc(50% - 75px); }
.circle2 { top: calc(50% - 100px); left: calc(50% - 300px); }
.circle3 { top: calc(50% - 100px); left: calc(50% + 155px); }
.circle4 { top: calc(50% + 150px); left: calc(50% - 205px); }
.circle5 { top: calc(50% + 150px); left: calc(50% + 75px); }

/* 在480到768像素之间的屏幕上应用这些样式 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .main-image img {
    height: auto;
  }

  .sub-images img {
    width: 150px;
    height: 90px;
  }

  .text1 {
    font-size: 20px;
    left: calc(50% - 60px);
  }

  .text2 {
    font-size: 7px;
    left: calc(50% - 60px);
  }
}

/* 在小于480像素的屏幕上应用这些样式 */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .main-image img {
    height: auto;
  }

  .sub-images {
    flex-direction: column;
    align-items: center;
  }

  .sub-images img {
    width: 100px;
    height: 60px;
  }

  .text1 {
    font-size: 16px;
    left: calc(50% - 50px);
  }

  .text2 {
    font-size: 6px;
    left: calc(50% - 50px);
  }
}
